<div id="genreBarSelect"></div>
<% genres.forEach(function(genre) { %>
      <div id="d<%= genre.mastergenre %>" class="gItem query criteria" data-search="<%= genre.mastergenre %>" data-id="<%= genre.mastergenre_id %>">
        <div class="itemName"><%= genre.mastergenre %></div>
      </div>
<% }); %>