<div id="genreBarSelect"></div>
<% genres.forEach(function(genre) { %>
      <div id="d<%= genre.masterGenre %>" class="gItem query criteria" data-search="<%= genre.masterGenre %>" data-id="<%= genre.masterGenre_id %>">
        <div class="itemName"><%= genre.masterGenre %></div>
      </div>
<% }); %>