<!DOCTYPE html>

<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/js/spotify.js"></script>
		<title>theFlendge</title>
	</head>
	<body>
		<iframe width="560" height="315" src="//www.youtube.com/embed/NGBeLPJTLzE" frameborder="0" allowfullscreen></iframe>
		<div id="login">
		<a href="/login" class="btn btn-primary">Log in with Spotify</a>
		</div>
		<button class="btn btn-default" id="refresh">OAuth</button>
        <div id="oauth">
        	Not Logged in
        </div>
 		<div id="playlists">

 		</div>
	</body>
</html>