<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" rel="stylesheet">
  	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='/js/spotify.js'></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src='/js/google.js'></script>
    <script src='/js/jquery.easing.compatibility.js'></script>
    <script src='/js/home.js'></script>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <script></script>
  <body>
    <div id="navbar">
      <div id="selector"></div>
      <div id="myLists" class="nav">MY LISTS</div>
      <div id="lists" class="nav">LISTS</div>
      <div id="title">E  L  E  V  A  T  E</div>
      <div id="songs" class="nav">SONGS</div>
      <div id="blog" class="nav">BLOG</div>
    </div>
    <div id="content">
      <% include lists %>
    </div>
    <div id="listDetails">
      <div id="listTitle"></div>
      <div id="overlay"></div>
      <div id="cover" class="play"></div>
      <div id="prevPlayer"></div>
      <div id="player" data-vid="-"><div id="videoPlayer"></div>
      <span class="glyphicon glyphicon-menu-down"></span>
      <div id="controls">
        <span class="glyphicon glyphicon-menu-up"></span>
        <div id="playToggle">
          <span class="glyphicon glyphicon-pause"></span>
          <span class="glyphicon glyphicon-play"></span>
        </div>
        <div id="playingName"></div>
      </div>
      </div>
      <div id="songList">
        <div id="songSelector"></div>
        <div id='buffer'></div>
      </div>
    </div>
</html>