<% blogs.forEach(function(blog) { %>
  <div class="blogEntry">
    <img src="/images/<%= blog.image %>">
    <div class="blogEntryBody">
      <div class="blogEntryName"><%= blog.name %></div>
      <div class="blogEntryText"><%= blog.text %></div>
    </div>
  </div>
<% }); %>
