<div id="userLists">
<div id="myListsBanner" data-type="all">
<div id="myListsBannerTitle" data-type="all">Most Popular Playlists</div></div>
<% lists.forEach(function(list) { %>
    <div class="block inactive list" data-lid="<%=list.id %>" data-user="<%= list.userid %>"  onclick="showList(this)">
      <% if(list.thumbnail) { %>
        <img src="http://img.youtube.com/vi/<%=list.thumbnail %>/0.jpg" class="list song"/>
      <% } %>
      <div class="description">
        <span class="name"><%=list.name %></span>
      </div>
    </div>
    <% }); %>
</div>