<div id="account" class="inactive">
	<div id="accountTitle">E L E V A T E M E</div>
	<div id="accountLogin" class="active" onclick="accountLogin(event)">Login</div>
	<div id="accountSignUp" onclick="accountSignUp(event)">Create Account</div>
	<input type="text" id="user" placeholder="Username">
	<input type="password" id="password" placeholder="Password">
	<input type="text" id="email" class="signUp inactive" placeholder="Email">
</div>