<div id="account">
	<div id="spotifyLogin"><div>Login with Spotify</div></div>
	<div id="facebookLogin"><div>Login with Facebook</div></div>
	<input type="text" id="user" placeholder="Username">
	<input type="password" id="password" placeholder="Password">
	<div id="accountLogin" onclick="accountLogin()">LOGIN</div>
	<input type="text" id="newAccountUser" class="signUp hidden" placeholder="Username">
	<input type="password" id="newAccountPassword" class="signUp hidden" placeholder="Password">
	<input type="text" id="newAccountEmail" class="signUp hidden" placeholder="Email">
	<div id="accountSignUp" onclick="accountSignUp(event)">CREATE ACCOUNT</div>
	<div id="spotifyLogin"><div>Sync Spotify</div></div>
</div>