<!-- <div id="loggedin">
  <div id="user">
    <image src=""></image>
    <div class="name"></div>
  </div>
  <div id="spotifyLists"></div>
</div> -->
<div id="spotifyLogin"><span>Login to Spotify</span></div>