<!-- <div id="loggedin">
  <div id="user">
    <image src=""></image>
    <div class="name"></div>
  </div>
  <div id="spotifyLists"></div>
</div> -->
<!--<div id="spotifyLogin"><span>Login to Spotify</span></div>-->
<div id="songInput">
<input type="text" id="url" placeholder="URL">
<input type="text" id="inputName" placeholder="Name">
<input type="text" id="inputArtist" placeholder="Artist">
<input type="password" id="inputPassword" placeholder="Password">
<div id="inputSubmit">SUBMIT</div>
</div>