<!-- <div id="loggedin">
  <div id="user">
    <image src=""></image>
    <div class="name"></div>
  </div>
  <div id="spotifyLists"></div>
</div> -->
<!--<div id="spotifyLogin"><span>Login to Spotify</span></div>-->
<input type="password" id="inputPassword" placeholder="Password">
<div id="songInput">
<input type="text" id="url" placeholder="URL">
<input type="text" id="inputName" placeholder="Name">
<input type="text" id="inputArtist" placeholder="Artist">
<div id="inputSubmit">SUBMIT</div>
</div>
<div id="blogInput">
<input type="text" id="blogurl" placeholder="URL">
<input type="text" id="inputBlogName" placeholder="Name">
<input type="text" id="inputBlogArtist" placeholder="Artist">
<input type="text" id="inputBlogDirector" placeholder="Director">
<input type="text" id="inputText" placeholder="blog text">
<input type="text" id="inputArtistLink" placeholder="Artist Website URL">
<input type="text" id="inputDirectorLink" placeholder="Director Website URL">
<div id="blogSubmit">SUBMIT</div>
</div>