    <div id="navbar" class="home">
      <div id="mainBar">
      <!-- <div id="myLists" class="nav"><div class="navSelection"></div>ME</div> -->
      <div id="title" class="nav selected active"><div class="navSelection"></div>
      <img src="../../Elevate logo small.png" alt="large logo">
      </div>
      <div id="videoSearcherWrapper">
        <div id="vgenre" class="criteriaType dItem pinned">
          <div class="dtitle">TAGS
          <span class="glyphicon glyphicon-pushpin"></span>
          </div>
        </div>
        <div id="vsort" class="criteriaType">
          <div class="dtitle">SORT
            <span class="glyphicon glyphicon-pushpin"></span>
          </div>
        </div>
        <div id="vfilter" class="criteriaType">
          <div class="dtitle">FILTER</div>
          <div id="vitemStaff" class="dItem criteria query" data-search="staff">
            <div class="itemName">Staff Picks</div>
          </div>
        </div>
        <div class="videoSearcherWrapper">
          <div id="textSearchUpdate"></div>
          <input type="text" id="videoSearcher" placeholder="S e a r c h">
        </div>
          <div id="vsearch" class="criteriaType">
            <div class="dtitle">SEARCH</div>
            <div id="songsSearch" class="dItem criteria query searched" data-search="songs">
              <div class="itemName">Songs</div>
            </div>
            <div id="playlistSearch" class="dItem criteria query" data-search="playlists">
              <div class="itemName">Playlists</div>
            </div>
          </div>
        <div class="navSelection"></div>
      </div>
        <% include myListsNav %>
      </div>
      <div id="sortBar" class="criteriaType genre">
        <div id="sortBarSelect"></div>
          <div id="vitemPopular" class="gItem criteria query" data-search="pop_trending">
            <div class="itemName">TRENDING</div>
          </div>
          <div id="vitemPopular" class="gItem criteria query" data-search="pop_week">
            <div class="itemName">POPULAR THIS WEEK</div>
          </div>
          <div id="vitemPopular" class="gItem criteria query" data-search="pop_1">
            <div class="itemName">ALL TIME POPULAR</div>
          </div>
          <div id="vitemNewest" class="gItem criteria query" data-search="created_at">
            <div class="itemName">NEWEST</div>
          </div>
      </div>
      <div id="genreBar" class="criteriaType pinned">
        <% include genres %>
      </div>
      
    </div>