<% if(!spotifyLists) { %>
    <div class="spotifyLogin" onclick="spotifyLogin()">
      Import Spotify <br>Playlists
    </div>
<% } else { %>
	<div id="spotifyLists">
	<% spotifyLists.forEach(function(list) { %>
		<div class="spotifyList" data-id="<%= list.id %>" onclick="showSpotifyList(event)"><%= list.name %></div>
	<% }); %>
	</div>
	<div id="spotifyChange" onclick="spotifyLogin()">Change Accounts</div>
<% } %>