body {
	background-color: #000;
	font-family: "Helvetica-Thin";
}

.list {
	width: 100%;
	background-color: #aaa;
}

#videoList img {
	width: 512px;
	height: auto;
} #videoList div[id^="pic"].videoOverlay {
	height: 288px;
}

#videoList div[id^="can"] {
	width: 512px;
	display: inline-block;
	float: right;
	clear: both;
	position: relative;
	margin-right: 5%;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
} #videoList #players {
	position: absolute;
	right: 512px;
	top: 50%;
	margin-top: -157.5px;
	margin-right: 5%;
	z-index: 140;
} #videoList #players iframe {
	position: absolute;
	width: 512px;
	height: 288px;
}

#videoList #players iframe.vplay {
	position: fixed;
	z-index: 120;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#cover {
	position: fixed;
	background-color: #000;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	opacity: 1;
	z-index: 130;
	pointer-events: none;
	overflow: hidden;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #cover.play {
	opacity: 0;
}

#buffer {
	width: 100%;
	height: 100px;
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
}
#listTitle {
	position: fixed;
	top: 75px;
	left: 3%;
	pointer-events: none;
	z-index: 140;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #listTitle span {
	color: #fff;
	font-weight: bolder;
	pointer-events: all;
	padding-right: 20px;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
} #listTitle span:last-child {
	font-size: 30px;
} #listTitle span:first-child {
	font-size: 36px;
} #listTitle.play {
	left: -50%;
} #listTitle span:hover {
	color:#FF4400;
} #listEdit {
	position: absolute;
    color: #fff;
    z-index: 130;
    font-size: 24px;
    font-weight: 100;
    top: 40px;
    right: 50px;
} #listEdit:hover {
	color: #ff4400;
} #listNameEdit {
  	position: absolute;
    left: 3%;
    margin-left: 50px;
    z-index: 120;
    font-size: 30px;
    background-color: transparent;
    border: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    pointer-events: all;
}

#songList {
	position: fixed;
	top:150px;
	padding: 0px 10px 0px 10px;
	left: 10%;
	width: 400px;
	bottom: 0px;
	opacity: 0;
	pointer-events: none;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 130;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #songList .song {
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	pointer-events: all;
	z-index: 112;
	cursor: pointer;
} #songList span:last-child {
	font-size: 14px;
	font-weight: lighter;
	padding-left: 10px;
} #songList.active {
	opacity: 1;
} #songList #songSelector {
	position: absolute;
	left: -10px;
	width: 110%;
	height: 0px;
	background-color: #FF4400;
	z-index: 111;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #songList.play {
	left: -500px;
} #songList span {
	pointer-events: none;
}

#videoList {
	position: fixed;
	top: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: scroll;
	opacity: 0;
	pointer-events: none;

} #videoList.active {
	opacity: 1;
	pointer-events: all;
}
#topbuffer{
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-top: -157.5px;
} #bottombuffer{
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-top: -157.5px;
}
::-webkit-scrollbar { 
    display: none; 
}

#blur {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../Space.jpg");
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #blur.active {
	-webkit-filter: blur(4px);
}
#overlay {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: #222;
	opacity: 0;
	pointer-events: none;
	z-index: 120;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #overlay.active {
	opacity: .7;
	pointer-events: all;
} #overlay.active.play {
	opacity: 1;
	background-color: #000;
}

#spotify .active {
	left: 0px;
} #spotify #login {
	border: none;
	background-color: none;
	display: inline-block;
} #spotify img {
	width: 40px;
	position: relative;
	float: left;
	padding: 5px 5px 5px 0px;
} #spotify #user {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #fff;
} #spotify #user .name {
	height: 100%;
	line-height: 20px;
	margin-top: 15px;
	float: left;
} #spotify #playlists {
	position: absolute;
	width: 80%;
	left: 10%;
} #spotifyData {
	color: #fff;
}

#theaterPause {
	position: fixed;
	top: 0px;
	bottom:100px;
	width: 100%;
	pointer-events: none;
	background-color: none;
	z-index: 120;
} #theaterPause.play {
	pointer-events: all;
}

/*************************************************/

#prevPlayer {
	position: fixed;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 130%;
	opacity: 0;
	pointer-events: none;
	z-index:110;
} #prevPlayer.active {
	opacity: 1;
	pointer-events: all;
}
#videoPlayer {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
#player {
	position: fixed;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index:150;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #player.active {
	top: 0%;
	pointer-events: all;
} #player #playerCollapse {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 70px;
	height: 70px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	opacity: 0;
} #player #playerCollapse .glyphicon {
	padding-top: 15px;
	pointer-events: none;
} #player #playerCollapse.active{
	opacity: 1;
} #player #playerCollapse.active:hover{
	background-color: rgba(200,200,200,.5);
} #player #playerCollapse.active:active {
	background-color: #777CFF;
} #player #controls {
	position: absolute;
	top: -50px;
	right: 20px;
	width: 380px;
	height: 50px;
	background-color: #222;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	pointer-events: all;
	overflow: hidden;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #player #controls .glyphicon-menu-up {
	position: absolute;
	top: 11px;
	left: 15px;
	font-size: 30px;
	color: #fff;
	pointer-events: none;
} #player #controls #playToggle {
	position: absolute;
    top: 8px;
    right: 90px;
    font-size: 30px;
    color: #fff;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none;
} #player #controls #playToggle.play {
	top: -40px;
} #player #controls .glyphicon-play {
	position: absolute;
	top: 5px;
	left: 0px;
	font-size: 20px;
} #player #controls .glyphicon-pause {
	position: absolute;
	top: 50px;
	left: 0px;
} #controls #playingName {
	position: absolute;
	top: 10px;
	left: 60px;
	height: 30px;
	color: #fff;
	font-weight: 100;
	font-size: 20px;
	opacity: 1;
	overflow: hidden;
	pointer-events: none;
} #controls #playerExpand {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 270px;
    height: 50px;
} #controls #playerExpand:hover {
	background-color: #555;
} #controls #playToggleSelection {
	position: absolute;
    top: 0px;
    right: 50px;
    height: 50px;
    width: 60px;
} #controls #playToggleSelection:hover {
	background-color: #555;
} #controls #fullScreenWrapper {
	position: absolute;
    right: 0px;
    font-size: 25px;
    width: 50px;
    height: 100%;
    color: #fff;
    padding-top: 2.5%;
    text-align: center;
} #controls #fullScreenWrapper:hover {
	background-color: rgba(200,200,200,.5);
}

#navbar {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #222;
	color: #fff;
	z-index: 110;
	min-width:700px;
	border-bottom: 2px solid #000;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #navbar #title {
	font-family: "Neou-Thin";
	font-size: 30px;
	text-align: left;
	height: 100%;
	position: relative;
	padding:0px 20px 0px 20px;
	display: inline-block;
	line-height: 2;
	background-color: transparent;
} #navbar #title:hover {
	background-color: #444;
} #navbar #title.selected {
	/*color: #5E63FF;*/
} .navSelection {
	background-color: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
  left: 0px;
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #navbar.blog {
	background-color: rgba(0,0,0,0.5);
    border: none;
} .selected .navSelection {
	top: -14px;
} #vsort {
	position: relative;
	overflow:hidden;
	  float: right;
  height: 100%;
  font-weight: 100;
  background-color: #222;
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #vsort:hover {
	height: auto;
  padding-bottom: 15px;
} #vsort:hover .vItem {
	width: auto;
}  #vsort:hover .vtitle {
	padding-bottom: 15px;
} #vgenre {
	position: relative;
    overflow: hidden;
    float: right;
    height: 100%;
    font-weight: 100;
    background-color: #222;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #vgenre.pinned {
	height: auto;
    padding-bottom: 8px;
    background-color: #444;
    color: #ff4400;
} #vgenre:hover {
	height: auto;
    padding-bottom: 8px;
    background-color: #444;
} #vgenre:hover .vItem {
	width: auto;
} #genre:hover .vtitle {
	padding-bottom: 15px;
} #vfilter {
	position: relative;
	overflow:hidden;
	 float: right;
  height: 100%;
  font-weight: 100;
  background-color: #222;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  } #vfilter:hover {
	height: auto;
  padding-bottom: 15px;
} #vfilter.filtered .dtitle {
	color: #ff4400;
	font-weight:400;
} #vfilter:hover .vItem {
	width: auto;
}  #vfilter:hover .vtitle {
	padding-bottom: 15px;
}#vsearch {
  	position: relative;
  	overflow:hidden;
  	 float: right;
  height: 100%;
  font-weight: 100;
  background-color: #222;
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  } #vsearch:hover {
	height: auto;
  padding-bottom: 15px;
} #vsearch:hover .vItem {
	width: auto;
} #vsearch:hover .vtitle {
	padding-bottom: 15px;
} #searchCriteria #vsort, #searchCriteria #vfilter ,#searchCriteria #vsearch {
	height: auto;
}
.criteriaType {
	position: relative;
	background-color:transparent;
	margin-bottom: 10px;
	display: inline-block;
	text-align: center;
}


#userListsNav {
	position: absolute;
  	overflow:hidden;
  	right:0px;
  	top:0px;
    height: 100%;
    width: 150px;
    font-weight: 100;
    background-color: #222;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
} #userListsNav.active {
	height: auto;
} #userListsNav.blog {
	background-color: transparent;
}
#backgroundImg {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-image: url("images/sky.jpg");
}

@font-face {
	font-family: "Neou-Thin";
	src: url("../Neou-Thin.otf");
}
@font-face {
	font-family: "Neou-Bold";
	src: url("../Neou-Bold.otf");
}
@font-face {
	font-family: "Benton-Thin";
	src: url("../BentonSans-Light.otf");	
}
@font-face {
	font-family: "Helvetica-Thin";
	src: url("../HelveticaNeueLTStd-Th.otf");	
}
#playlists {
	line-height: 0px;
}
#videos {
	line-height: 0px;
}
.block {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	width: 20%;
	height: 14vw;
	min-height: 126px;
	position: relative;
	left:0px;
	display: inline-block;
	overflow: hidden;
	opacity: 1;
	float: left;
	border: 1px solid #000;
	background-color: #222;
	overflow: hidden;
}
.block.inactive {
	opacity: 0;
	left: 50px;
	display: none;
} .block.leave {
	opacity: 0;
	left: -50px;
}
#blogs.leave {
	opacity: 0;
	left: -50px;
} #blogs.inactive {
	opacity: 0;
}

.block>img{
	display: inline-block;
	position: absolute;
	z-index: 104;
	top: -40%;
	left: -35%;
	width: 170%;
} .block .description {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	color: #fff;
	z-index: 105;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description:hover {
	background-color: rgba(0,0,0,0.7);
} .block .description .name {
	display: block;
	position: relative;
	padding: 10px 15px 0px 15px;
	line-height: 24px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 30px 20px rgba(0,0,0,.5); 
  	-moz-box-shadow:    0px 0px 30px 20px rgba(0,0,0,.5); 
  	box-shadow:         0px 0px 30px 20px rgba(0,0,0,.5); 
	font-size: 20px;
	/*font-family: "Neou-Thin";*/
	font-weight: 100;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description .artist {
	display: block;
	position: relative;
	width: 100%;
	left: 0%;
	opacity: 0;
	font-size: 14px;
	padding: 5px 15px 0px 15px;
	line-height: 1.25;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description:hover .name {
	-webkit-box-shadow: none;
  	-moz-box-shadow:    none; 
  	box-shadow:         none; 
  	background-color: rgba(0,0,0,0);
} .block .description:hover .artist {
	opacity: 1;
} .block .description:hover .saveToList {
	opacity: 1;
} .block .description .glyphicon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	font-size: 60px;
	color: rgba(255,255,255,0);
} .block .description.active {
	background-color: rgba(0,0,0,0.7);
} .block .description.active .glyphicon {
	color: rgba(255,68,0,1);
} .block .description.active:hover .glyphicon {
	color: rgba(255,68,0,1);
} .block .description.active .name {
	color: rgba(255,255,255,1);
} .block.thin {
	width: 0px;
	border: none;
} .block.dragging .description, .block.dragging .description:hover {
	background-color: rgba(255,68,0,.4);
} .block.dragging .name {
	-webkit-box-shadow: none;
  	-moz-box-shadow:    none; 
  	box-shadow:         none; 
  	background-color: transparent;
}

#content {
	position: fixed;
    top: 0px;
    min-width: 1100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: scroll;
    background-color: #000;
    padding-top:50px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #content.genre {
	top:50px;
} #content.genrePinned {
	top:50px;
}
.vtitle {
	padding: 10px;
	text-align: center;
	display:inline-block;
} .vItem {
	width: auto;
	position:relative;
	padding: 10px 10px 10px 10px;
    background-color: transparent;
    cursor: default;
    display: inline-block;
} .dtitle {
	padding: 15px;
	text-align: center;
	display:inline-block;
	width: 100%;
} .dtitle:hover {
	background-color:#444;
} .dItem {
	width: 100px;
	position:relative;
	padding: 10px 10px 10px 10px;
    background-color: transparent;
    cursor: default;
    margin: 3px;
} .dItem.listNav {
	width: 100%;
} .vItem:hover, .vItem.active, .dItem:hover, .dItem.active {
	background-color: rgba(255,255,255,.5);
} .vItem.searched, .dItem.searched {
	background-color: #ff4400;
	color: #fff;
} .checkItem {
	width: 1.5vw;
	height: 1.5vw;
	border: 1px solid #fff;
	display: inline-block;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .checkItemChecked {
	display: inline-block;
} .itemName {
	display: inline-block;
	font-size: 1.25vw;
	padding: 0px 10px 0px 10px;
}

#blog {
	float: right;
} #songs {
	float: right;
} #lists {
	float: left;
} #myLists {
	width: 100%;
	cursor: default;
	position: relative;
	padding: 15px;
	height: 100%;
	font-family: "Neou-Thin";
	text-align: center;
	background-color: transparent;
} #myLists:hover {
	background-color: #444;
} #myLists.selected {
	/*color: #5E63FF;*/
} #selector {
	position: absolute;
	top: 10px;
	width: 10%;
	height: 30px;
	background-color: #FF4400;
	z-index: 99;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#search {
	z-index: 140;
	position: fixed;
	top: 100px;
	left: 50px;
}

#backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100;
}
#content>img {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
}

#blogs {
	background-color: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
} #blogs #songOfTheDay {
	position: relative;
	top: 0%;
	left: 0%;
	width: 100%;
} #sotdImg {
	position: relative;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 40vw;
    overflow: hidden;
} #sotdImg iframe {
	position: absolute;
    width: 110%;
    height: 150%;
    left: -5%;
    top: -15%;
} #sotdBlogText {
	padding: 15px 6% 15px 6%;
    background-color: #000;
    color: #bbb;
    font-weight: 100;
    font-size: 16px;
} #sotdCover {
	position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
} #sotdName {
	position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    top: 50%;
    margin-top: -50px;
} #sotdArtist {
	position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    top: 50%;
    margin-top: 10px;
} #sotdPlay {
	position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    top: 50%;
    margin-top: 50px;
} #staffPicksBanner {
	position: relative;
    width: 100%;
    height: 75px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    background-color: #ff4400;
    font-size: 30px;
    font-weight: 100;
} #staffPicks {
    position: relative;
    top: 0px;
    background-color: #fff;
    margin-top: -20px;
    padding-top: 10px;
} .post {
	position: relative;
    width: 65%;
    min-width: 420px;
    background-color: #fff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
    border-bottom:2px solid #aaa;
}
.post .block {
	position: relative;
	width: 100%;
	height: 33vw;
	min-height: 236.25px;
	margin-bottom: 10px;
	opacity: 1;
	border: none;
}
.post .blog {
	position: relative;
	width: 100%;
	padding: 10px;
}
.post .block img {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
} .post .block .glyphicon {
	font-size: 50px;
	left: 50%;
	margin-left: -20px;
	top: 50%;
	margin-top: -20px;
	z-index: 1000;
  	color: #fff;
  	opacity: 0;
  	-webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
} /*.post .block:hover .glyphicon{
	opacity: 1;
} */.post .block:active .glyphicon {
	color: #FF4400;
}
.post .blogName {
	font-size: 45px;
  	font-weight: 900;
  	padding-left: 10px;
}
.post .blogArtist {
	font-style: italic;
	padding-left: 10px;
}
.artistLink, .directorLink {
	border: 1px solid #ff4400;
    width: 100px;
    text-align: center;
    color: #ff4400;
    padding: 5px;
    margin-bottom: 10px;
    cursor: default;
} .artistLink:hover,.directorLink:hover {
	background-color: #FF4400;
	color: #fff;
}

#videoSearch {
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 50px;
	z-index: 150;
	background-color: #000;
	border-top: 2px solid #303030;
	border-bottom: 2px solid #303030;
	color: #fff;
	font-size: 24px;
	border-left: none;
	border-right: none;
	padding-left: 20px;
	padding-top: 5px;
	font-family: "Neou-Thin";
	line-height: 2px;
} #videoSearch:focus {
	outline: none;
}
#songInput {
	position: relative;
	width: 100%;
	height: 100%;
} #url {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 500px;
	height: 30px;
	margin-left: -250px;
} #inputName {
	position: relative;
    display: inline-block;
    top: 0px;
    left: 50%;
    width: 200px;
    height: 30px;
    margin-left: -100px;
    margin-bottom: 10px;
} #inputArtist {
	position: relative;
    display: inline-block;
    top: 0px;
    left: 50%;
    width: 200px;
    height: 30px;
    margin-left: -100px;
} #inputDirector {
	position: absolute;
    top: 450px;
    left: 50%;
    width: 200px;
    height: 30px;
    margin-left: -100px;
} #inputGenre1 {
	position: absolute;
    top: 500px;
    left: 50%;
    width: 100px;
    height: 30px;
    margin-left: -200px;
} #inputGenre2 {
	position: absolute;
    top: 500px;
    left: 50%;
    width: 100px;
    height: 30px;
    margin-left: -50px;
} #inputGenre3 {
	position: absolute;
    top: 500px;
    left: 50%;
    width: 100px;
    height: 30px;
    margin-left: 100px;
} #inputSubmit {
	position: absolute;
	top: 670px;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	background-color: #FF4400;
	text-align: center;
	color: #fff;
	font-family: "Neou-Thin"
	font-size: 30px;
	padding: 10px;
} #inputSubmit:active {
	background-color: #2190FF;
} 
#blogInput {
	position: relative;
	width: 100%;
	height: 100%;
} #inputText, #inputBlogDirector, #inputArtistLink, #inputDirectorLink {
	position: absolute;
    left: 50%;
    width: 500px;
    height: 30px;
    margin-left: -250px;
    margin-bottom: 20px;
    display: block;
} #inputText {
	top: 550px;
} #inputArtistLink {
	top: 590px;
} #inputDirectorLink {
	top: 630px;
} #blogSubmit {
	position: relative;
	left: 50%;
	width: 100px;
	margin-left: -50px;
	background-color: #FF4400;
	text-align: center;
	color: #fff;
	font-family: "Neou-Thin"
	font-size: 30px;
	padding: 10px;
} #blogSubmit:active {
	background-color: #2190FF;
}
.remove {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-color: #FF4400;
	text-align: center;
	pointer-events: all;
	line-height: 1.5;
	cursor: default;
} .remove.active {
	background-color: #0077FF;
}

#constructionBlock {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 2000;
} #constructionBlock .glyphicon {
	font-size: 50px;
	color: #aaa;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	top: 50%;
} #constructionBlock video {
	position: absolute;
	top:-40%;
} #constructionBlock #vidPlayerCover {
	opacity: .8;
} #inputPassword {
	position: absolute;
	left: 50%;
	width: 200px;
	top: 50%;
	margin-left: -100px;
	margin-top: 100px;
	text-align: center;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 18px;
	font-family: "Neou-Thin";
	padding-top: 5px;
} #constructionBlock #constructionTitle {
	position: absolute;
	left: 50%;
	width: 500px;
	text-align: center;
	top: 50%;
	margin-top:70px;
	margin-left: -250px;
	color: #fff;
	font-family: "Neou-Thin";
} #constructionBlock #constructionBlockTitle {
	position: absolute;
    color: #fff;
    font-size: 150px;
    font-weight: 100;
    width: 1000px;
    text-align: center;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -200px;
}

#account {
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
} #account.inactive {
	opacity: 0;
	left: 50px;
}
} #account #spotifyLogin {
	position: relative;
	width: 100%;
	padding: 10px;
	background-color: #000;
	color: #fff;
	z-index: 100;
	opacity: 1;
	text-align: center;
} #account #spotifyLogin div {
	position: absolute;
	padding: 3px;
	width: 250px;
	left: 50%;
	margin-left: -125px;
	background-color: #81B71A;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 100;
} #account input {
	background-color: transparent;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 26px;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-weight: 100;
    color: #fff;
    width: 250px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    margin-top: 20px;
} #account #email {
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #account #email.inactive {
	opacity: 0;
} #account #accountTitle {
	color: #fff;
    font-weight: 100;
    font-size: 50px;
} #account #accountLogin, #account #accountSignUp {
	padding: 3px;
	width: 250px;
	left: 50%;
	margin-left: -50px;
	background-color: transparent;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	margin-top: 20px;
} #account #accountLogin:hover, #account #accountSignUp:hover {
	color: #FF4400;
} #account #accountLogin.active, #account #accountSignUp.active {
	background-color: #FF4400;
} #account #accountLogin.active:hover, #account #accountSignUp.active:hover {
	background-color: #C33400;
	color: #fff;
} 
#account #accountSignUp {
	margin-bottom: 40px;
}
#logout {
	background-color: #0080FF;
	position: relative;
	display: block;
	text-align: center;
	width:100%;
	color: #fff;
	padding: 10px 5px 10px 5px;
	cursor: default;
} #logout:hover {
	background-color: #015CB6;
}
#createListTitle {
	display: inline-block;
    position: relative;
    margin: 5%;
    padding: 5px;
    width: 90%;
    text-align: center;
    color: #fff;
    font-weight: 100;
    cursor: default;
} #createListName {
	position: relative;
    left: 5%;
    width: 90%;
    margin-top: 5%;
    background-color: rgba(0,0,0,0);
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 2vw;
    color: #fff;
    padding: 3%;
    font-weight: 100;
} #createList {
	position: absolute;
    top: 50%;
    left: 25%;
    color: #fff;
    font-size: 7vw;
    font-weight: 100;
    width: 50%;
    height: 40%;
    text-align: center;
    background-color: #222;
    vertical-align: middle;
    line-height: 60%;
} #createList:hover {
	background-color: #444;
}
#userLists {
	overflow: auto;
	font-size: 18px;
}
.saveToList {
	-webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
	position: absolute;
    right: 15px;
    bottom: 25px;
    font-size: 35px;
    font-size: 4vw;
    font-weight: 100;
    opacity: 0;
    cursor: default;
} .saveToList:hover {
	color: #ff4400;
}
#saveLists {
	position: absolute;
    width: 20%;
    max-height: 25vw;
    background-color: #000;
    z-index: 110;
    padding-top:2px;
    overflow: scroll;
}
#saveClose {
	color: #fff;
    font-weight: 100;
    font-size: 30px;
    font-size: 3vw;
    position: absolute;
    right: 10px;
}
.saveList {
	-webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
	color: #fff;
    font-size: 20px;
    font-size: 1.75vw;
    font-weight: 100;
    padding: 1% 10% 1% 5%;
    background-color: none;
    margin-bottom: 2px;
    width: 100%;
    position: relative;
} .saveList:hover {
	background-color: #444;
} .saveList:active {
	background-color: #ff4400;
} .saveList.included {
	background-color: #ff4400;
}

.checkBox {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
	  position: absolute;
  left: 5%;
  border: 1px solid #fff;
  width: 10%;
  height: 50%;
  top: 25%;
} .checkBoxCheck {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
	  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-size: 3vw;
  line-height: 45%;
    background-color: none;
    opacity:0;
} .saveList.on .checkBoxCheck {
	opacity:1;
} .saveList.on .checkBox {
	background-color: #ff4400;
} .saveList.on {
	background-color: #ff4400;
}
#blockDragger {
	-webkit-transition: border-width .1s ease;
    -moz-transition: border-width .1s ease;
    -ms-transition: border-width .1s ease;
    -o-transition: border-width .1s ease;
    transition: border-width .1s ease;
	background-color: #ff4400;
	opacity:.3;
	position: absolute;
	z-index: 1000;
	border-style: solid;
	border-color: #ff4400;
	border-width: 2px;
	pointer-events: none;
} #songOrder {
	position:absolute;
	left:0px;
	width:8px;
	height: 100%;
	background-color: #ff4400;
	z-index:200;
}
#userSaveLists {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
	position: fixed;
	top: 50px;
	left: -20%;
	width:15%;
	background-color:#000;
}
#myListsToggle {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
	position: absolute;
    left: 2%;
    top: 15px;
    font-size: 16px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #fff;
    line-height: 20px;
    z-index: 110;
} #myListsToggle.active {
	background-color: #ff4400;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.listDelete {
	position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    opacity: 0;
    cursor: default;
    height: 20%;
    text-align: center;
    padding: 10px;
    line-height: 0px;
} .playlistSongDelete {
	position: absolute;
    bottom: 0%;
    right: 0%;
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    cursor: default;
    height: 20%;
    text-align: center;
    padding: 10px;
    line-height: 0px;
} .playlistSongDelete:hover {
	color: #ff4400;
}.description:hover .listDelete {
	opacity: 1;
} .listDelete:hover {
	color: #ff4400;
}

.promptOverlay {
	  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.7);
  z-index: 120;
  } .promptDelete {
  	position: absolute;
    width: 300px;
    height: 150px;
    background-color: #fff;
    left: 50%;
    margin-left: -150px;
    top: -50%;
    margin-top: -75px;
} #promptDeleteText {
	font-size: 24px;
  font-weight: 100;
  text-align: center;
  margin: 10px;
} #promptDeleteYes, #promptDeleteNo {
	position: absolute;
    font-size: 24px;
    font-weight: 100;
    width: 75px;
    color: #fff;
    text-align: center;
} #promptDeleteNo {
	background-color: #ff4400;
	right: 40px;
} #promptDeleteYes {
	background-color: #0091FF;
	left: 40px;
}
#listDetails {
	opacity: 1;
} #listDetails.hidden {
	opacity: 0;
}
#videoSearcherWrapper {
position: absolute;
  display: inline-block;
  height: 100%;
  right: 150px;
  left: 275px;
}
#videoSearcher {
	position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  padding-left: 10px;
} #videoSearcher:focus {
	background-color: #444;
	outline: none;
} #videoSearcher:hover {
	background-color: #444;
}

#nextSong {
	-webkit-transition: right .2s ease;
    -moz-transition: right .2s ease;
    -ms-transition: right .2s ease;
    -o-transition: right .2s ease;
    transition: right .2s ease;
	font-size: 7vw;
  position: absolute;
  padding: 30px 30px 15px 30px;
  top: 40%;
  right: -150px;
  color: #fff;
} #nextSong.active {
	right: 10px;
} #nextSong:hover {
	background-color: rgba(200,200,200,.5);
} #nextSong:active {
	background-color: #777CFF;
}
#previousSong {
	-webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
	font-size: 7vw;
	padding: 30px 30px 15px 30px;
  position: absolute;
  top: 40%;
  left: -150px;
  color: #fff;
} #previousSong.active {
	left: 10px;
} #previousSong:hover {
	background-color: rgba(200,200,200,.5);;
} #previousSong:active {
	background-color: #777CFF;
}

#songPlaylist {
	position: absolute;
    width: 100px;
    left: 150px;
    top: 355px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    pointer-events: all;
    cursor: default;
    border-radius:7px;
} #songPlaylist:hover {
	background-color: #fff;
	color: #000;
	font-weight: 200;
} #songTitle {
	-webkit-transition: left .2s ease;
    -moz-transition: left .2s ease;
    -ms-transition: left .2s ease;
    -o-transition: left .2s ease;
    transition: left .2s ease;
	position: absolute;
    width: 390px;
    height: 60px;
    left: 5px;
    top: 150px;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    overflow: hidden;
} #songArtist {
	position: absolute;
    width: 200px;
    left: 100px;
    top: 215px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    pointer-events: all;
    cursor: default;
} #songArtist:hover {
	background-color: #fff;
	color: #000;
	font-weight: 200;
} #shuffle {
	position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 8px;
    pointer-events: all;
} #shuffle:hover, #shuffle.active {
	background-color: #fff;
	color: #000;
} #shuffle > span {
	pointer-events: none;
} #repeat {
	position: absolute;
    left: 50%;
    margin-left: 10px;
    top: 50%;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding-top: 8px;
    pointer-events: all;
} #repeat:hover, #repeat.active {
	background-color: #fff;
	color: #000;
} 

#player #playercover {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-left: -200px;
	margin-top: -200px;
	border-radius: 200px;
	background-color: #000;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(0,0,0,0);
} #player #playercover.active {
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}
#videos #loadMore {
    position: relative;
    display: inline-block;
    left: 50%;
    width: 225px;
    height: 40px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    font-weight: 100;
    margin-left: -112.5px;
    margin-top: 40px;
    border: 2px solid #fff;
} #videos #loadMore:hover {
	color: #ff4400;
	border: 2px solid #ff4400;
}

#nextPage, #previousPage {
	position: absolute;
    color: #fff;
    font-size: 40px;
    left: 50%;
    margin-top: 40px;
    padding: 10px;
} #nextPage:hover, #previousPage:hover {
	background-color: #aaa;
} #nextPage:active, #previousPage:active {
	background-color: #ff4400;
} #nextPage .glyphicon, #previousPage .glyphicon {
	pointer-events: none;
} #nextPage {
	margin-left: 50px;
} #previousPage {
	margin-left: -110px;
}
#pageSelection {
	position: relative;
    display: inline-block;
    width: 100%;
}
#pageNumber {
	position: absolute;
    left: 50%;
    color: #fff;
    width: 20px;
    text-align: center;
    margin-top: 70px;
    margin-left: -10px;
    font-size: 20px;
}

#listBanner {
	position: relative;
    width: 100%;
    height: 50px;
    background-color: #ff4400;
} #listName {
	position: absolute;
    left: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
    padding: 25px;
    width: 50%;
    top: 0%;
} #listNameInput {
	position: absolute;
    left: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    width: 50%;
    top: 0%;
    background-color: transparent;
    border: none;
    padding: 8px 8px 8px 20px;
} #listNameInput:focus {
	background-color: rgba(255,255,255,.3);
	outline: none;
} #listEdit {
	position: absolute;
	right: 0%;
	top: 0%;
	color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding: 25px;
    width: 100px;
    text-align: center;
} #listEdit:hover {
	background-color: rgba(255,255,255,.5);
} #backToLists {
	position: absolute;
    width: 50px;
    height: 100%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding-top: 11px;
} #backToLists:hover {
	background-color: rgba(255,255,255,.5);
}

.spotifyListBanner {
	position: relative;
    width: 100%;
    height: 50px;
    background-color: #6AE368;
    color: #fff;
    font-size: 28px;
    line-height: normal;
    padding:10px;
} 
.listBanner {
	position: relative;
    width: 100%;
    height: 50px;
    background-color: #0080FF;
    color: #fff;
    font-size: 28px;
    line-height: normal;
    padding:10px;
} 

#vidPlayer {
	position: fixed;
    top: -25%;
    left: 0px;
    width: 100%;
    height: 150%;
} #vidPlayer video {
	position: absolute;
    left: 0%;
    min-width:100%;
    top: 0%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
} #vidPlayerCover {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
} 

#searchCriteria {
	position: relative;
    left: 0%;
    color: #fff;
    top: 0%;
    padding-bottom: 100px;
    padding-top:10px;
    text-align: center;
} #findVideos {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    position: relative;
    left: 0%;
    font-size: 160px;
    font-family: "Neou-Thin";
    height: 175px;
    line-height: 1;
    background-color: transparent;
    color: #fff;
    cursor: default;
    overflow: hidden;
} #searchVideos {
	padding: 10px;
    display: inline-block;
    border: 2px solid #fff;
    cursor: default;
    margin:10px;
} #searchVideos:hover {
	background-color: rgba(255,255,255,.5);
} #searchVideos:active {
	background-color: #ff4400
} #findVideosText {
	position: relative;
    display: inline-block;
    top: 0%;
    margin-left: 10px;
    left: 0%;
    width: 650px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #fff;
    padding-left: 10px;
    color: #fff;
} #findVideosText::-webkit-input-placeholder {
   color: #fff;
} #finder {
	position: relative;
    display: inline-block;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

#findVideosText:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

#findVideosText::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#findVideosText:-ms-input-placeholder {  
   color: #fff;  
} #findVideosOr {
	position: relative;
    color: #fff;
    top: 0%;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.staffRemove, .staffAdd {
	position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #4D00FF;
    text-align: center;
    pointer-events: all;
    line-height: 1.5;
    cursor: default;
} .staffAdd-List {
	position: absolute;
    bottom: 10px;
    right: 50px;
    width: 20px;
    height: 20px;
    background-color: #4D00FF;
    text-align: center;
    pointer-events: all;
    line-height: 1.5;
    cursor: default;
}
.staffRemove {
	background-color: #ff4400;
}

#spotifyLogin {
	position: relative;
    display: inline-block;
    text-align: center;
    top: 0%;
    height: 40px;
    width: 125px;
    margin-left: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    padding-left: 10px;
    color: #fff;
    padding: 7px;
    cursor: default;
} #spotifyLogin:hover {
	background-color: #81b71a;
}

#import {
	width: 100%;
    text-align: center;
    font-size: 60px;
    color: #81b71a;
    pointer-events: none;
} #importText {
	color: #81b71a;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin-top: 20px;
    pointer-events: none;
} #importSpotify:hover {
	background-color: #444;
}

#blogMenuUp {
	position: relative;
    display: inline-block;
    top: -80px;
    left: 0%;
    width: 50px;
    margin-left: -25px;
    height: 50px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#homePage {
	position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
}
#blogsContent {
	position: relative;
	width:100%;
	background-color: #eee;
	padding-bottom: 60px;
	top: -5px;
} #blogsTitleInterviews {
	position: relative;
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #blogsTitleInterviews.active {
	font-size: 30px;
	color: #ff4400;
} #blogsTitleInterviews:hover {
	color: #ff4400;
}
.blogEntry {
	position: relative;
    margin: 20px 0px 10px 20px;
    width: 500px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
} .blogEntry .glyphicon {
	position: absolute;
	top: 100px;
    font-size: 50px;
    color: #fff;
    left: 50%;
    margin-left: -20px;
    top: -200px;
    opacity: 0;
} .blogEntry .imgWrapper:hover .glyphicon, .blogEntry img:hover .glyphicon {
	opacity: 1;
} .blogEntry .imgWrapper:active .glyphicon, .blogEntry img:hover .glyphicon {
	color: #ff4400;
} .imgWrapper {
    width: 500px;
    height: 275px;
    overflow: scroll;
    z-index: 99;
    background-color: #345;
    overflow:hidden;
}
.blogEntry img {
	width: 100%;
    margin-top: -10%;
}
.blogEntryBody {
    display: inline-block;
    padding-left: 20px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}.blogEntryName {
	position: relative;
    display: inline-block;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
} .blogEntryText {
 	position: relative;
    display: inline-block;
    overflow: hidden;
    padding-right:50px;
} .blogEntryArtist {
	position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    top: -5px;
}
.blogStream1 {
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: -600px;
    display: inline-block;
    padding: 0px 0px 0px 90px;
    vertical-align: top;
} .blogStream2 {
    width: 500px;
    position: relative;
    left: 50%;
    margin-left: 100px;
    display: inline-block;
    vertical-align: top;
    padding: 0px 0px 0px 20px;
}
.controls-menu-up {
	width: 20px;
    height: 20px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    position: relative;
    left: 20px;
    top: 20px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#blogsTitleVideos {
	position: relative;
    display: inline-block;
    width: 220px;
    left: -40px;
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #blogsTitleVideos.active {
	font-size: 30px;
	color: #ff4400;
} #blogsTitleVideos:hover {
	color: #ff4400;
} #blogsTitleContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height:85px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}
#blogsTitleMove {
	position: relative;
    left: 50%;
    width: 480px;
    margin-left: -125px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #blogsTitleMove.active {
	margin-left: -320px;
}

#playTogglePauseLeft {
	position: absolute;
    width: 6px;
    height: 22px;
    background-color: #fff;
    top: 53px;
    left: 2px;
}
#playTogglePauseRight {
	position: absolute;
    width: 6px;
    height: 22px;
    background-color: #fff;
    top: 53px;
    left: 14px;
}
#filterDrop {
	border-left: 1px solid #fff;
	padding: 0px 5px 0px 5px;
}

#sotdWrapper {
	position: absolute;
    bottom: 25px;
    left: 25px;
    padding: 5px;
    font-weight: 100;
    font-size: 17px;
    color: #fff;
    padding:10px;
    cursor: default;
} #sotdWrapper:hover {
	background-color: #ff4400;
}

.gItem {
	position: relative;
    top: 0px;
    display: inline-block;
    padding: 15px 5px 0px 5px;
    cursor: default;
    height: 48px;
}.gItem:hover:not(.searched) {
	background-color: #ccc;
}
#genreBar {
	position: absolute;
    width: 100%;
    height: 50px;
    background-color: #444;
    color: #fff;
    font-weight: 100;
    -moz-box-shadow: inset 1px 4px 9px -6px;
    -webkit-box-shadow: inset 1px 4px 9px -6px;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
    cursor: default;
    border-bottom: 2px solid #000;
    z-index: 100;
    top: 0px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #navbar #genreBar.active {
	top: 50px;
} #navbar #genreBar.pinned {
	top: 50px;
}
#mainBar {
	position: relative;
    height: 50px;
    background-color: #222;
    z-index: 101;
} 

.genreCarrot {
	position: relative;
    display: inline-block;
    padding: 0px 5px 0px 10px;
    color: #ff4400;
    font-weight: 400;
}
#adminGenreUpdate {
	position: absolute;
	top: 1100px;
    width: 150px;
    padding: 10px;
    background-color: #ff4400;
    text-align: center;
    color: #fff;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 50px;
}

#adminSpotifyID {
	position: absolute;
	top: 1150px;
    width: 150px;
    padding: 10px;
    background-color: #ff4400;
    text-align: center;
    color: #fff;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 50px;
}

#adminSpotifySongData {
	position: absolute;
	top: 1200px;
    width: 250px;
    padding: 10px;
    background-color: #ff4400;
    text-align: center;
    color: #fff;
    left: 50%;
    margin-left: -125px;
    margin-bottom: 50px;
}

#findVideosBestNewVideos, #findVideosStaffPicks {
	color: #fff;
    font-size: 20px;
    font-weight: 100;
    border: 1px solid #fff;
    width: 250px;
    padding: 10px 0px 10px 0px;
    display: inline-block;
    margin: 20px 30px 50px 30px;
    cursor: default;
}

#findVideosBestNewVideos:hover, #findVideosStaffPicks:hover {
	background-color: rgba(255,255,255,.5);
}

#myListsBanner {
	color: #fff;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ff4400;
    font-size: 24px;
    font-weight: 100;
}
#myListsBannerTitle {
	display: inline-block;
	color: #fff;
	font-size: 24px;
    font-weight: 100;
    padding:10px;
}
#listBanner span {
	display: inline-block;
	padding: 10px;
	width: 50px;
	height:100%;
	text-align: center;
	color: #fff;
	padding:10px;
	font-size: 24px;
}
#listBanner span:hover {
	background-color: rgba(255,255,255,.3);
}


#spotifyControls {
	position: fixed;
    z-index: 120;
    right: -150px;
    top: 70px;
    width: 150px;
}
.spotifyTitle {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #6AE368;
    position: absolute;
    top: 10px;
    padding: 10px;
    left: -50px;
    color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#spotifyControls:hover {
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	right:0px;
}
.spotifyLogin, .spotifyImporting {
	background-color: #6AE368;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    color: #fff;
    height: 60px;
    text-align: center;
    padding: 10px;
    cursor: default;
} .spotifyLogin:hover {
	background-color: #ABDEAB;
}
#spotifyLists {
	background-color: #6AE368;
    position: relative;
    top: 0px;
    width: 150px;
    max-height: 50vh;
    overflow:scroll;
    padding-bottom: 50px;
} .spotifyList {
	color: #fff;
    padding: 10px;
    width:150px;
} .spotifyList:hover {
	background-color: #ABDEAB;
} #spotifyChange {
	position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #6AE368;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #fff;
    color: #fff;
    cursor: default;
} #spotifyChange:hover {
	background-color: #ABDEAB;
}
#spotifyMatch, #spotifyAdminLogin {
	position: absolute;
    top: 150px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 20px;
    border: 1px solid #555;
} #spotifyAdminLogin {
	text-align: center;
    color: #fff;
    background-color: #6AE368;
} #spotifyAdminLogin:hover {
	background-color: #ABDEAB;
}
#spotifyMatchSearch {
	position: relative;
    display: inline-block;
    top: 0px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    margin-top: 10px;
    background-color: #6AE368;
    color: #000;
    text-align: center;
    padding:10px;
}

#spotifyMatchList {
	margin-top: 10px;
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    height: 100px;
    border: 1px solid #fff;
    overflow: scroll;
}
.spotifyMatchEntry {
	padding: 5px;
    color: #fff;
    background-color: #333;
    border-bottom: 1px solid #aaa;
}
.spotifyMatchEntry.active {
	background-color: #ff4400;
}

.block .blur {
	height: 100px;
	  width: 100%;
	  top: -40%;
	  left: -35%;
	  width:170%;
	  z-index: 105;
	  position: relative;
	  overflow:hidden;
	  filter: blur(10px);
	  -webkit-filter: blur(10px);
	  -moz-filter: blur(10px);
	  -o-filter: blur(10px);
	  -ms-filter: blur(10px);
	  filter: url(#blur);
	  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
	  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	  overflow: hidden;
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}
.searchBlocks {
	position: relative;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    height: 150px;
}
.searchBlock {
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
	position: absolute;
    display: inline-block;
    width: 20%;
    height: 150px;
    color: #fff;
    padding-top: 40px;
    font-size: 16px;
} .searchBlock .glyphicon {
	font-size: 30px;
	padding-bottom: 20px;
} .searchBlock:nth-of-type(1) {
	left: 0px;
	top: 0px;
}.searchBlock:nth-of-type(2) {
	left: 20%;
	top: 0px;
} .searchBlock:nth-of-type(3) {
	left: 40%;
	top: 0px;
}.searchBlock:nth-of-type(4) {
	left: 60%;
	top: 0px;
} .searchBlock:nth-of-type(5) {
	left: 80%;
	top: 0px;
}
.searchBlock:hover {
	background-color: rgba(255,255,255,.4);
	padding-top: 20px;
}
.searchBlock:active {
	background-color: #ff4400;
}
.siteTitle {
	position: relative;
    width: 100%;
    height: 200px;
    font-size: 140px;
    padding-top: 30px;
    color: #fff;
    font-family: "Neou-Thin";
}

#likeSong {
	color: #fff;
    font-size: 34px;
    position: absolute;
    left: 90px;
    top: 10px;
    opacity: 0;
} #likeSong.active {
	opacity:1;
} #likeSong:hover {
	color: #ff4400;
}

#genreBarSelect {
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	position: absolute;
	top: 0px;
	height: 100%;
	width: 50px;
	background-color:#ff4400;
	opacity: 0;
}
