body {
	background-color: #000;
}

.list {
	width: 100%;
	background-color: #aaa;
}

#videoList img {
	width: 512px;
	height: auto;
} #videoList div[id^="pic"].videoOverlay {
	height: 288px;
}

#videoList div[id^="can"] {
	width: 512px;
	display: inline-block;
	float: right;
	clear: both;
	position: relative;
	margin-right: 5%;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
} #videoList #players {
	position: absolute;
	right: 512px;
	top: 50%;
	margin-top: -157.5px;
	margin-right: 5%;
	z-index: 140;
} #videoList #players iframe {
	position: absolute;
	width: 512px;
	height: 288px;
}

#videoList #players iframe.vplay {
	position: fixed;
	z-index: 120;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
#cover {
	position: fixed;
	background-color: #000;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	opacity: 1;
	z-index: 130;
	pointer-events: none;
	overflow: hidden;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #cover.play {
	opacity: 0;
}

#buffer {
	width: 100%;
	height: 100px;
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
}
#listTitle {
	position: fixed;
	top: 75px;
	left: 3%;
	pointer-events: none;
	z-index: 140;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #listTitle span {
	color: #fff;
	font-weight: bolder;
	pointer-events: all;
	padding-right: 20px;
	-webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
} #listTitle span:last-child {
	font-size: 30px;
} #listTitle span:first-child {
	font-size: 36px;
} #listTitle.play {
	left: -50%;
} #listTitle span:hover {
	color:#FF4400;
}

#songList {
	position: fixed;
	top:150px;
	padding: 0px 10px 0px 10px;
	left: 10%;
	width: 400px;
	bottom: 0px;
	opacity: 0;
	pointer-events: none;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 130;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #songList .song {
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	clear: both;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	pointer-events: all;
	z-index: 112;
	cursor: pointer;
} #songList span:last-child {
	font-size: 14px;
	font-weight: lighter;
	padding-left: 10px;
} #songList.active {
	opacity: 1;
} #songList #songSelector {
	position: absolute;
	left: -10px;
	width: 110%;
	height: 0px;
	background-color: #FF4400;
	z-index: 111;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} #songList.play {
	left: -500px;
} #songList span {
	pointer-events: none;
}

#videoList {
	position: fixed;
	top: 0px;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow: scroll;
	opacity: 0;
	pointer-events: none;

} #videoList.active {
	opacity: 1;
	pointer-events: all;
}
#topbuffer{
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-top: -157.5px;
} #bottombuffer{
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-top: -157.5px;
}
::-webkit-scrollbar { 
    display: none; 
}

#blur {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../Space.jpg");
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #blur.active {
	-webkit-filter: blur(4px);
}
#overlay {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: #222;
	opacity: 0;
	pointer-events: none;
	z-index: 120;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #overlay.active {
	opacity: .7;
	pointer-events: all;
} #overlay.active.play {
	opacity: 1;
	background-color: #000;
}

#spotifyLogin {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	color: #fff;
	z-index: 100;
	opacity: 0;
	text-align: center;
	padding-top: 20%;
} #spotifyLogin span {
	padding: 7px;
	background-color: #81B71A;
	border-radius: 3px;
	font-size: 20px;
	font-family: "Neou-Thin";
} #spotify .active {
	left: 0px;
} #spotify #login {
	border: none;
	background-color: none;
	display: inline-block;
} #spotify img {
	width: 40px;
	position: relative;
	float: left;
	padding: 5px 5px 5px 0px;
} #spotify #user {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #fff;
} #spotify #user .name {
	height: 100%;
	line-height: 20px;
	margin-top: 15px;
	float: left;
} #spotify #playlists {

}

#theaterPause {
	position: fixed;
	top: 0px;
	bottom:100px;
	width: 100%;
	pointer-events: none;
	background-color: none;
	z-index: 120;
} #theaterPause.play {
	pointer-events: all;
}

/*************************************************/

#prevPlayer {
	position: fixed;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 130%;
	opacity: 0;
	pointer-events: none;
	z-index:110;
} #prevPlayer.active {
	opacity: 1;
	pointer-events: all;
}
#videoPlayer {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}
#player {
	position: fixed;
	top: 100%;
	left: 0%;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index:150;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #player.active {
	top: 0%;
	pointer-events: all;
} #player .glyphicon-menu-down {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 50px;
	color: #fff;
	opacity: .2;
} #player #controls {
	position: absolute;
	top: -40px;
	right: 0px;
	width: 250px;
	height: 40px;
	background-color: #000;
	border-top-left-radius: 4px;
	pointer-events: all;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(100,100,100,.5); 
  	-moz-box-shadow:    0px 0px 10px 2px rgba(100,100,100,.5); 
  	box-shadow:         0px 0px 10px 2px rgba(100,100,100,.5); 
} #player #controls .glyphicon-menu-up {
	position: absolute;
	top: 11px;
	left: 10px;
	font-size: 20px;
	color: #fff;
} #player #controls #playToggle {
	position: absolute;
	top: 8px;
	left: 40px;
	font-size: 20px;
	color: #fff;
	-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
} #player #controls #playToggle.play {
	top: -40px;
} #player #controls .glyphicon-play {
	position: absolute;
	top: 0px;
	left: 0px;
} #player #controls .glyphicon-pause {
	position: absolute;
	top: 50px;
	left: 0px;
} #controls #playingName {
	position: absolute;
	top: 10px;
	left: 70px;
	width: 120px;
	height: 20px;
	color: #fff;
	opacity: 1;
	overflow: hidden;
}

#navbar {
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #000;
	color: #fff;
	z-index: 110;
	min-width:700px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(100,100,100,.5); 
  	-moz-box-shadow:    0px 0px 10px 2px rgba(100,100,100,.5); 
  	box-shadow:         0px 0px 10px 2px rgba(100,100,100,.5); 
} #navbar #title {
	font-family: "Neou-Thin";
	font-size: 45px;
	text-align: center;
	position: absolute;
	width: 100%;
	pointer-events: none;
}
@font-face {
	font-family: "Neou-Thin";
	src: url("../Neou-Thin.otf");
}
@font-face {
	font-family: "Neou-Bold";
	src: url("../Neou-Bold.otf");
}
#playlists {
	line-height: 0px;
}
.block {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	position: absolute;
	width: 25%;
	height: 17.5vw;
	min-height: 126px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	opacity: 0;
	float: left;
	border: 1px solid #000;
}
.block.hidden {
	opacity: 0;
}
.block img{
	display: inline-block;
	position: absolute;
	z-index: 104;
	top: -20%;
	left: -20%;
	width: 140%;
} .block .description {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	color: #fff;
	z-index: 105;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description:hover {
	background-color: rgba(0,0,0,0.7);
} .block .description .name {
	display: block;
	position: relative;
	padding: 10px 15px 0px 15px;
	line-height: 24px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 30px 20px rgba(0,0,0,.5); 
  	-moz-box-shadow:    0px 0px 30px 20px rgba(0,0,0,.5); 
  	box-shadow:         0px 0px 30px 20px rgba(0,0,0,.5); 
	font-size: 20px;
	font-family: "Neou-Thin";
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description .artist {
	display: block;
	position: relative;
	width: 100%;
	left: -100%;
	font-size: 14px;
	padding: 5px 15px 0px 15px;
	line-height: 1.25;
	font-family: "Neou-Thin";
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .block .description:hover .name {
	-webkit-box-shadow: none;
  	-moz-box-shadow:    none; 
  	box-shadow:         none; 
  	background-color: rgba(0,0,0,0);
} .block .description:hover .artist {
	left: 0%;
} .block .description .glyphicon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	font-size: 60px;
	color: rgba(255,255,255,0);
} .block .description.playing {
	background-color: rgba(0,0,0,0.7);
} .block .description.playing .glyphicon {
	color: rgba(255,255,255,1);
} .block .description.playing:hover .glyphicon {
	color: rgba(255,68,0,1);
} .block .description.playing .name {
	color: rgba(255,255,255,1);
}

#content {
	position: fixed;
	top: 50px;
	background-color: #000;
	min-width: 700px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
}

.nav {
	position: relative;
	padding-top: 15px;
	height: 100%;
	font-family: "Neou-Thin";
	width: 15%;
	text-align: center;
	background-color: none;
	z-index: 100;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
} .nav.active {
	font-family: "Neou-Bold";
} #blog {
	float: right;
} #songs {
	float: right;
} #lists {
	float: left;
} #myLists {
	float: left;
}
#selector {
	position: absolute;
	top: 10px;
	width: 10%;
	height: 30px;
	background-color: #FF4400;
	z-index: 99;
	-webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#search {
	z-index: 140;
	position: fixed;
	top: 100px;
	left: 50px;
}

#backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 100;
}
#content>img {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 99;
}

#blogs {
	background-color: #fff;
	position: fixed;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: scroll;
}
.post {
	position: relative;
	width: 100%;
}
.post .block {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 320px;
	height: 180px;
	opacity: 1;
}
.post .blog {
	position: absolute;
	top: 10px;
	left: 350px;
	right: 10px;
}